In [4]:
import pandas as pd
import numpy as np

In [3]:
df1=pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "değişken1":[10,25,5,45,78,95],
                  "değişken2":[100,250,50,450,780,950]},
                columns=["gruplar","değişken1","değişken2"])

df1

  gruplar  değişken1  değişken2
0       A         10        100
1       B         25        250
2       C          5         50
3       A         45        450
4       B         78        780
5       C         95        950

In [6]:
df1.groupby("gruplar").aggregate([min,np.median,max])

        değişken1            değişken2
              min median max       min median  max
gruplar
A              10   27.5  45       100  275.0  450
B              25   51.5  78       250  515.0  780
C               5   50.0  95        50  500.0  950

In [7]:
df1.groupby("gruplar").aggregate({"değişken1":min,"değişken2":max})

         değişken1  değişken2
gruplar
A               10        450
B               25        780
C                5        950